<h2><%= @article.title %></h2>
<p><%= @article.content %></p>
<%= link_to "Go back", articles_path %><br>
<%= link_to "Edit", edit_article_path %><br>
<%= link_to "Delete", article_path(@article), data: {:confirm => 'Are you sure?'}, method: :delete %>
